{% extends "core/base.html" %}

{% block titulo %}
    Registro de nuevo - Petalos.cl
{% endblock titulo %}

{% load static %}

{% block contenido %}
        <div class="container">
            <h1>Nuevo Usuario</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <input type="submit" value="Grabar" class="btn btn-success">
                <input type="reset" value="Limpiar" class="btn btn-info">
        </div>
{% endblock contenido %}
