{% extends "core/base.html" %}

{% block titulo %}
    Administración de las flores - Petalos.cl
{% endblock titulo %}

{% load static %}

{% block contenido %}
    <div class="row">
        {% for f in lista %}
        <div class="flores">
            <h3>{{f.name}}</h3>
            <img src="{{f.imagen.url}}" width=100 heigth=100 >
            <h4>Descripcion:</h4>
            <p> {{f.descripcion}}</p>
            <h4>Cantidad:</h4>
            <p> {{f.cantidad}}</p>
            <h4>Precio:</h4>
            <p> ${{f.precio}}</p>
            <a href="{% url 'MODIFICAR' f.name %}"> Modificar Flor </a>   
            <a href="{% url 'ELIMINAR' f.name %}"> Eliminar Flor </a>           
        </div>
        {% endfor %}
    </div>  
{% endblock contenido %}
