{% extends "core/base.html" %}

{% block titulo %}
    Un consejo para ti :3 - Petalos.cl
{% endblock titulo %}

{% load static %}

{% block contenido %}
    <div class="text-center">
        <h2> Consejo por nuestra parte </h2> 
        <p> Mira este video, que te ayudara mucho con tus flores y/o plantas </p> 
        <br>

    <div id="player"></div>
    <script>
      
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '360',
          width: '640',
          videoId: 'quXCjlsKDhM',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

     
      function onPlayerReady(event) {
        event.target.playVideo();
      }


      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>
</div>   
<br> 
{% endblock contenido %}
