{% extends "core/base.html" %}

{% block titulo %}
    Quienes Somos - Petalos.cl
{% endblock titulo %}

{% load static %}

{% block contenido %}
<div class="text-center">
        <h2> NUESTRA HISTORIA </h2>
        <p> {% lorem how_many_paragraphs %} </p>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d832.3152883528128!2d-70.64713037648406!3d-33.44250203655466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa9c936c8932d6313!2s5petalos!5e0!3m2!1ses!2scl!4v1575420111160!5m2!1ses!2scl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

        <br>
</div>
{% endblock contenido %}
