{% extends "core/base.html" %}

{% block titulo %}
    Versión de la pagina - Petalos.cl
{% endblock titulo %}

{% load static %}

{% block contenido %}
        <h2> El avance del trabajo </h2>
        <br>
        <h5>v.0.1 :</h5>
        <p>Esqueleto de la pagina más que esta agrege imagenes </p>
        <h5>v.0.1.1 :</h5>
        <p>Se agrega el poder guardar y eliminar las flores desde administración</p>
        <h5>v.0.1.2 :</h5>
        <p>Se agrega el modificar las flores</p>
        <h5>v.0.1.3 :</h5>
        <p>Se agrega Iniciar sesión y se separan funciones entre admin y cliente, dejando al primero con la facultades de 
        poder agregar, eliminar y modificar las flores, limitando la funcion del cliente a registrarse, inicarse y ver las flores</p>
        <h5>v.0.1.4 :</h5>
        <p>Pequeños arreglos en cuanto al area grafica, colores en el navar, arreglo visual de botones, fondo de pantalla rosa</p>
        <h5>v.0.1.5 :</h5>
        <p>Se agrega carro de compras, se hacen mejoras a la visual como tambien al orden interno, y se pre instalo el inicio de sesión 
        via facebook en el codigo interno</p>   
        <h5>v.0.1.6 :</h5>
        <p>Tablas boostrap, aclarado de footer, colores en los botones</p>   
        <h5>v.0.1.7 :</h5>
        <p>Se agrega el inicio de sesión via facebook</p>   
        <h5>v.0.1.9 :</h5>
        <p>integracion de webservice a la pagina</p>   
        <h5>v.0.2 :</h5>
        <p>intregracion de las notificaciones PUSH</p>   
        <br>
{% endblock contenido %}
